---
import Layout from "../layouts/Layout.astro";
import clientData from "../data/config";
import RegisterBox from "../components/RegisterBox";
import Date from "../components/Date.astro";
import Countdown from "../components/Countdown";
import CallAction from "../components/CallAction.astro";
import WhatYouWillLearn from "../components/WhatYouWillLearn.astro";
import History from "../components/History.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import VideosTestimonies from "../components/Videos-testimonies.astro";
import TakeAway from "../components/TakeAway.astro";
import ItsForYou from "../components/ItsForYou.astro";
import Transformation from "../components/Transformation.astro";
import WelcomeBonus from "../components/WelcomeBonus.astro";

const { title, subtitle, eventDateForCountdown } = clientData;
---

<Layout>
  <div class='flex flex-col items-center w-full gap-20 pt-2 text-center'>
    <div>
      <div class='flex flex-col items-center justify-center gap-10 pb-10'>
        <!-- Subtítulo con fondo translúcido -->
        <h2 class='prose prose-2xl text-accent'>
          Regístrate en este Evento Online Gratuito y descubre cómo liberar el
          estrés, sanar dolores, relajar tu cuerpo y mejorar tu sueño con
          técnicas de yoga y respiración guiada, tanto para principiantes como
          para expertos.✨ <span class='block font-semibold'
            >¡Transforma tu bienestar desde hoy!</span
          >
        </h2>
        <Countdown deadline={eventDateForCountdown} client:load />
        <Date />
      </div>
      <div
        class='flex flex-col items-center justify-center w-full gap-10 md:gap-20 lg:flex-row'
        id='register'
      >
        <RegisterBox client:only='react' />
        <div>
          <img
            src='/header.jpg'
            alt=''
            class='h-[450px] rounded-lg border-4 border-primary transition-transform duration-300 hover:animate-swing'
          />
        </div>
        <div
          class='flex flex-col items-center justify-center gap-2'
          id='register'
        >
        </div>
      </div>
    </div>
    <ItsForYou />
    <CallAction text='Quiero liberar mi estrés y sentirme mejor' />
    <WhatYouWillLearn />
    <CallAction text='Sí, quiero participar y sentirme mejor' />
    <Transformation />
    <CallAction text='Regístrate gratis ahora' />
    <!-- <WelcomeBonus /> -->
    <CallAction text='Quiero mis regalos y mi acceso a la masterclass' />
    <History />
    <!-- <CallAction text='Regístrate gratis ahora' /> -->
    <!-- <h2 class='text-3xl text-center text-accent'>
      💡 No dejes pasar esta oportunidad de regalarte bienestar y paz interior.
    </h2> -->
    <h2 class='text-3xl text-center text-accent'>
      📅 Reserva tu lugar ahora y prepárate para la transformación.
    </h2>
    <CallAction text='Quiero asistir a la masterclass' />
  </div>
</Layout>
