---
import Layout from "../layouts/Layout.astro";
import clientData from "../data/config";
import RegisterBox from "../components/RegisterBox";
import Date from "../components/Date.astro";
import Countdown from "../components/Countdown";
import CallAction from "../components/CallAction.astro";
import WhatYouWillLearn from "../components/WhatYouWillLearn.astro";
import History from "../components/History.astro";
import ItsForYou from "../components/ItsForYou.astro";
import Transformation from "../components/Transformation.astro";
import VideosTestimonies from "../components/Videos-testimonies.astro";

const { title, subtitle, eventDateForCountdown } = clientData;
---

<Layout>
  <div
    class='flex flex-col items-center justify-center w-full max-w-6xl gap-20 p-4 text-center'
  >
    <div>
      <h1
        class='font-semibold text-2xl lg:text-3xl xl:text-5xl bg-clip-text text-transparent bg-gradient-to-tl from-[#ffa9a9] to-[#444444] pb-6'
      >
        Regístrate al evento online para liberar tensiones y estrés, recargar el
        cuerpo y tener un sueño reparador
      </h1>
      <div class='flex flex-col gap-10'>
        <Countdown deadline={eventDateForCountdown} client:load />
      </div>
      <div
        class='flex flex-col items-center justify-center w-full gap-10 lg:flex-row'
      >
        <RegisterBox client:only='react' />
        <Date />
      </div>
    </div>
    <ItsForYou />
    <CallAction
      text='Quiero liberar mi estrés y sentirme mejor'
      href='#register'
    />
    <WhatYouWillLearn />
    <CallAction
      text='Sí, quiero participar y sentirme mejor'
      href='#register'
    />
    <Transformation />
    <CallAction text='Quiero acceder a la masterclass' href='#register' />
    <VideosTestimonies />
    <History />
    <h2 class='text-xl text-center text-accent'>
      📅 Reserva tu lugar ahora y prepárate para la transformación.
    </h2>
    <CallAction text='Quiero asistir a la masterclass' href='#register' />
  </div>
</Layout>
