---
import clientData from "../data/config";
const { text, href, target } = Astro.props;
---

<a href={href} target={target}>
  <!-- <button
    class='px-2 py-4 mx-8 text-xl text-white border-4 shadow-lg bg-accent border-secondary rounded-xl sm:text-lg md:text-xl lg:text-2xl animate-jump'
  > -->
  <button
    class='px-12 py-6 text-white bg-[#5EBF8E] hover:bg-[#4AA67A] rounded-xl transition-all duration-300 ease-in-out text-2xl w-[90%]'
  >
    <p class='inline-flex items-center gap-2 font-bold'>
      {text}
      <slot />
    </p>
  </button>

  <style>
    @keyframes jump {
      0%,
      100% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-10px);
      }
    }

    .animate-jump {
      animation: jump 1s infinite;
    }
  </style>
</a>
