---
import clientData from "../data/config";
const { text } = Astro.props;
---

<a href='#register' class='hover:animate-pulse'>
  <button
    class='px-2 py-6 text-xl text-white shadow-lg bg-accent border-secondary rounded-xl sm:text-lg md:text-xl lg:text-2xl animate-jump'
  >
    {text}
  </button>
</a>

<style>
  @keyframes jump {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
  }

  .animate-jump {
    animation: jump 1s infinite;
  }
</style>
