---
const { title, description, subtitle } = Astro.props;
---

<div
  class='grid items-center justify-between max-w-xl text-center transition-transform duration-700 shadow-lg div-large rounded-3xl hover:scale-105'
>
  <h3 class='flex justify-center text-4xl font-bold'>
    {title}
  </h3>
  <h4 class='flex justify-center text-2xl font-bold'>
    {subtitle}
  </h4>
  <div class='flex flex-row justify-center gap-2 text-center shadow-none'>
    <h4>
      <span class='text-sm fi fi-es'></span>
      19:00hs
    </h4>
    <h4>
      <span class='text-sm fi fi-ar'></span>
      15:00hs
    </h4>
    <h4>
      <span class='text-sm fi fi-co'></span>
      13:00hs
    </h4>
    <h4>
      <span class='text-sm fi fi-mx'></span>
      12:00hs
    </h4>
  </div>
  <p class='m-2 text-xl'>{description}</p>
</div>

<style>
  .div-large {
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #fedb37 0%,
        #fdb931 8%,
        #9f7928 30%,
        #8a6e2f 40%,
        transparent 80%
      ),
      radial-gradient(
        ellipse farthest-corner at left top,
        #ffffff 0%,
        #ffffac 8%,
        #d1b464 25%,
        #5d4a1f 62.5%,
        #5d4a1f 100%
      );
  }
</style>
