---
import clientData from "../data/config";

const { history } = clientData;
---

<div
  class='grid items-center justify-center grid-cols-1 space-x-2 space-y-4 lg:grid-cols-2'
>
  <div class='flex flex-col items-center justify-center gap-4'>
    <h2 class='mb-2 text-4xl font-bold text-center text-accent'>
      {history.title}
    </h2>

    <div
      class='flex flex-col gap-2 p-4 text-xl text-center rounded-lg text-accent lg:text-2xl'
    >
      <h3>
        Nacida en Pamplona y formada en arquitectura por la Universidad de
        Navarra, mi vida profesional tomó un giro inesperado tras 13 años en el
        campo. Trabajé en reconocidos estudios como Eisenman Architects en Nueva
        York, y continué mi carrera en Madrid y Pamplona, donde la intensa
        presión laboral empezó a impactar mi bienestar físico y mental.
      </h3>

      <h3>
        En búsqueda de equilibrio, descubrí el yoga, la meditación y la
        relajación, disciplinas que transformaron mi vida al mejorar mi salud y
        reducir el estrés. Mi pasión por estas prácticas me llevó a obtener la
        certificación como instructora de Yoga en el Sivananda Center Bahamas,
        iniciando así un nuevo camino en la enseñanza del bienestar.
      </h3>

      <h3>
        Dos momentos definitorios moldearon mi transición: mi separación a los
        34 años, que marcó mi regreso a Pamplona y el abandono de la
        arquitectura por el yoga, y un accidente de coche en 2020 que reafirmó
        mi compromiso con la resiliencia y la recuperación personal.
      </h3>

      <h3>
        Hoy comparto esta pasión enseñando yoga, ofreciendo a mis alumnos un
        espacio para encontrar serenidad, fuerza y conexión interior en cada
        sesión.
      </h3>
    </div>
  </div>
  <div class='flex flex-col items-center justify-center'>
    <img
      src='/history.jpg'
      class='h-[450px] rounded-lg border-4 border-secondary'
    />
  </div>
</div>
