---
import clientData from "../data/config";

const { history } = clientData;
---

<div
  class='flex flex-col items-center justify-center max-w-4xl gap-6 lg:flex-row'
>
  <div class='flex flex-col items-center justify-center'>
    <h2 class='mb-2 text-4xl font-bold text-center text-accent'>
      {history.title}
    </h2>
    <div
      class='flex flex-col w-full gap-2 text-xl text-center md:text-left text-accent'
    >
      <p>
        Nacida en Pamplona y formada en arquitectura por la Universidad de
        Navarra, mi vida profesional tomó un giro inesperado tras 13 años en el
        campo.
      </p>
      <p>
        Trabajé en reconocidos estudios como Eisenman Architects en Nueva York,
        y continué mi carrera en Madrid y Pamplona, donde la intensa presión
        laboral empezó a impactar mi bienestar físico y mental.
      </p>
      <p>
        En búsqueda de equilibrio, descubrí el yoga, la meditación y la
        relajación, disciplinas que transformaron mi vida al mejorar mi salud y
        reducir el estrés.
      </p>
      <p>
        Mi pasión por estas prácticas me llevó a obtener la certificación como
        instructora de Yoga en el Sivananda Center Bahamas, iniciando así un
        nuevo camino en la enseñanza del bienestar.
      </p>
      <p>
        Dos momentos definitorios moldearon mi transición: mi separación a los
        34 años, que marcó mi regreso a Pamplona y el abandono de la
        arquitectura por el yoga, y un accidente de coche en 2020 que reafirmó
        mi compromiso con la resiliencia y la recuperación personal.
      </p>
      <p>
        Hoy comparto esta pasión enseñando yoga, ofreciendo a mis alumnos un
        espacio para encontrar serenidad, fuerza y conexión interior en cada
        sesión.
      </p>
    </div>
  </div>
  <img src='/history.jpg' alt='' class='h-[450px]' />
</div>
