---
import PointLearning from "./PointLearning.astro";
const description = {
  title: "Este Envento es para ti si...",
  points: [
    {
      title:
        "✅ Sientes estrés, ansiedad o dificultades para desconectar del día a día",
      description: "",
    },
    {
      title:
        "✅ Sufres dolores musculares en cuello, espalda o cuerpo debido a la tensión",
      description: "",
    },
    {
      title:
        "✅ Quieres mejorar tu calidad de sueño y despertar con más energía",
      description: "",
    },
    {
      title:
        "✅ Te gustaría sentirte más ágil, flexible y fuerte sin importar tu edad o nivel de experiencia",
      description: "",
    },
    {
      title:
        "✅ Buscas un espacio para reconectar contigo misma y priorizar tu bienestar",
      description: "",
    },
    {
      title:
        "✅ Tanto si eres experto como si nunca has practicado yoga o meditación",
      description: "",
    },
  ],
};
---

<div>
  <h2
    class='mb-8 text-3xl text-center text-accent sm:text-4xl md:text-5xl lg:text-6xl'
  >
    {description.title}
  </h2>
  <ul class='flex flex-col gap-4 mt-4 text-left list-none'>
    {
      description.points.map((point) => (
        <PointLearning title={point.title} description={point.description} />
      ))
    }
  </ul>
</div>
