---
import PointLearning from "./PointLearning.astro";
const description = {
  title: "쮺칩mo Ser치 Tu Transformaci칩n?",
  points: [
    {
      title:
        "游꺚 Imagina despertarte sin dolores y con energ칤a para disfrutar tu d칤a.",
      description: "",
    },
    {
      title:
        "游꺚 Imagina acostarte sabiendo que tendr치s un sue침o profundo y reparador.",
      description: "",
    },
    {
      title:
        "游꺚 Imagina encontrar un momento solo para ti, para relajarte y cuidarte.",
      description: "",
    },
    {
      title:
        "Este es el primer paso para sentirte m치s conectada contigo misma, con menos estr칠s y m치s vitalidad.",
      description: "",
    },
  ],
};
---

<div>
  <h2
    class='mb-8 text-3xl text-center text-accent sm:text-4xl md:text-5xl lg:text-6xl'
  >
    {description.title}
  </h2>
  <ul class='flex flex-col gap-4 mt-4 text-left list-none'>
    {
      description.points.map((point) => (
        <PointLearning title={point.title} description={point.description} />
      ))
    }
  </ul>
</div>
