<div>
  <h2
    class='text-2xl font-thin text-accent sm:text-4xl md:text-5xl lg:text-6xl'
  >
    Algunas de las <span class='font-extrabold'>Cientos </span> de personas que han
    cambiado su vida.
  </h2>
  <div
    class='flex flex-col items-center justify-center gap-10 pt-10 text-center md:flex-row'
  >
    <div class='flex flex-col items-center justify-center gap-12 xl:flex-row'>
      <div class='relative p-1 rounded-lg shadow-lg bg-accent'>
        <iframe
          class='rounded-lg shadow-[0_0_20px_rgba(255,255,255,0.6)] w-[320px] h-[480px] md:w-[360px] md:h-[540px]'
          src='https://www.youtube.com/embed/vjaFC00x7iU'
          title='Tesminio 1 - Lucia Martinez'
          frameborder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          referrerpolicy='strict-origin-when-cross-origin'
          allowfullscreen
        >
        </iframe>
      </div>
      <div class='relative p-1 rounded-lg shadow-lg bg-accent'>
        <iframe
          class='rounded-lg shadow-[0_0_20px_rgba(255,255,255,0.6)] w-[320px] h-[480px] md:w-[360px] md:h-[540px]'
          src='https://www.youtube.com/embed/geflf-DDjOE'
          title='Testimonio 2 - Lucía Martínez'
          frameborder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          referrerpolicy='strict-origin-when-cross-origin'
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
