---
import PointLearning from "./PointLearning.astro";
const description = {
  title: "Bono Especial al Registrarte ",
  points: [
    {
      title:
        "游꾸 Gu칤a descargable con ejercicios de yoga y relajaci칩n para aplicar desde hoy.",
      description: "",
    },
    {
      title:
        "游꾸 Acceso exclusivo a un audio de meditaci칩n guiada para calmar la mente antes de dormir",
      description: "",
    },
    {
      title:
        "Estos regalos te ayudar치n a comenzar tu transformaci칩n desde el primer d칤a.",
      description: "",
    },
  ],
};
---

<div>
  <h2
    class='mb-8 text-3xl text-center text-accent sm:text-4xl md:text-5xl lg:text-6xl'
  >
    {description.title}
  </h2>
  <ul class='flex flex-col gap-4 mt-4 text-left list-none'>
    {
      description.points.map((point) => (
        <PointLearning title={point.title} description={point.description} />
      ))
    }
  </ul>
</div>
